.firstPage{
    display: flex;
    justify-content: space-between;
    max-width: 1920px;
    margin-top: 140px;
}
.first-page-content{
    display: flex;
    align-items: center;
    margin-bottom: 31px;
    justify-content: flex-end;
    width: 45%;
}
.firstPageWrap{
    width:100% ;
    max-width: 514px;
    margin: 0 1em;
    padding: 0 auto;
}
.firstpage-heading{
    display: flex;
    align-items: center;
    margin-bottom: 31px;
    width: 100%;
}
.first-heading{
    font-size: 54px;
    color: #221F1F;
    padding-left: 20px;
    width: 100%;
}
.first-text-side{
    max-width: 514px;
    font-size: 18px;
}
.circleMark{
    background-color: #FFCA05;
    max-width: 50px;
    width: 100%; 
    height: 50px;
    border-radius: 50%;
}
.firstPage-bg{
    width: 50%;
}
.firstpage-bg-image{
    width: 100%;
}
.button-padding{
    margin-top: 40px;
}
.nav-wrap{
    display: flex;
    justify-content: flex-end;
}
.moreText{
    display: none;
}

@media screen and (max-width:1200px) {
    .first-heading{
        font-size: 30px;
        transition: 0.5s;
    }
    .first-text-side p {
        font-size: 15px;
        transition: 0.5s;
    }
}
@media screen and (max-width:720px) {
    .first-heading{
        font-size: 20px;
        transition: 0.5s;
    }
    .first-text-side p {
        font-size: 15px;
        transition: 0.5s;
    }
    .circleMark {
        max-width:25px;
        height: 25px;
        border-radius: 50%;
        
    }
    .firstPage{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .firstPageWrap{
        margin-top: 20px;
        transition: 0.5s;
    }
}
@media screen and (max-width:480px) {
    .first-heading{
        font-size: 12px;
        transition: 0.5s;
        width: 200px;
        
    }
    .first-text-side p {
        font-size: 10px;
        transition: 0.5s;
        width: 200px;
    }
    .circleMark {
        max-width:15px;
        height: 15px;
        border-radius: 50%;
        
    }
    .firstPage{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .firstPageWrap{
        margin-top: 20px;
        transition: 0.5s;
    }
    .firstpage-bg-image{
        width: 200px;
        transition: 1s;
    }
}