.btn4 {
    height: 95px;
    font-size: 29px;
    width: 48%;
    border-radius: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75);
}
.btn4:hover {
    background-color: #FFCA05;
    color: #FFCA05;
    
}
.btn{
    color: black;
}
.btn:hover {
    color: #FFFFFF;
}

.displayBox{
    height: 95px;
    font-size: 29px;
    width: 48%;
    border-radius: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75);
}
.displayBox:hover {
    background-color: #FFCA05;
}
.displayBox a{
    color: #FFFFFF;
}

@media screen and (max-width:1200px) {
    .btn4 {
        margin-bottom: 20px;
        font-size: 23px;
    }

    
}
@media screen and (max-width:720px) {
    .btn4 {
        margin-bottom: 20px;
        font-size: 23px;
        width: 40%;
        height: 50px;
        text-align: center;
        display: flex;
        align-items: center;
        transition: 1s;
    }

}
@media screen and (max-width:380px){
    .btn4 {
        margin-bottom: 20px;
        font-size: 14px;
        width: 35%;
        height: 30px;
        text-align: center;
        display: flex;
        align-items: center;
        transition: 1s;
    }
}

@media screen and (max-width:320px){
    .btn4 {
        margin-bottom: 15px;
        font-size: 10px;
        width: 30%;
        height: 20px;
        text-align: center;
        display: flex;
        align-items: center;
        transition: 1s;
    }
}
