.plan-text{
    max-width: 1920px;
}
.plan-heading {
    max-width: 751px;
    margin: 0 auto;
    margin-top: 127px;
    margin-bottom: 127px;
    
}
.plan-heading h2{
    font-size: 54px;
    color: black;
}

.donation{
    max-width: 1250px;
    height: 342px;
    margin: 0 auto;
    margin-bottom: 120px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;

}
.donation-calculator{
    max-width: 1580px;
    display: flex;
    margin: 0 auto; 
    background-color: #FFCA05;
    color: #ffffff;
    border-radius: 133px;
    height: 206px;
}
.calculator-title {
    max-width: 591px;
    width: 100%;
    
}
.calculator-title h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 54px;
    padding-top: 75px;
}
.donation-amount{
    width: 705px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 63px 142px 62px 142px;
    
}
.donation-example {
    width: 989px;
    background-color: black;
    border-radius: 133px;
    
}
.donation-amount div {
    border: 2px solid #ffffff;
    padding: 12px 53px 17px 60px;
    border-radius: 60px;
    margin-left: 20px;
}
.team-bg-img {
    background-image: url("../../images/Rectangle 155.svg");
    height: 575px;
    background-repeat: no-repeat;
    width: 960px;
    background-position: center;
    background-size: cover;
}
.text-side{
    display: flex;
    justify-content: space-between;
}

.team-section{
    margin-top: 140px;
    margin-bottom: 90px;
    display: flex;
    justify-content: space-between;
}
.team-heading{
    display: flex;
    max-width: 480px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 31px;

}
.team-heading h2{
    font-size: 54px;
    color: #221F1F;
}
.circle2 {
    background-color: #FFCA05;
    width: 50px;
    height: 50px;
    border-radius: 50%;

}
.text-side{
    max-width: 514px;
}
.text-side p{
    font-size: 18px;
    padding-bottom: 40px;
    padding-top: 10px;
    color: #221F1F;
}
.team-read-more {
    width: 369px;
    height: 90px;
    border-radius: 45px;
    background-color: #FFCA05;
    color: #FFFFFF;
    font-size: 28px;
    border: none;
    outline: none;
    cursor: pointer;
}
.team-text-content{
 width: 920px;
 padding-left: 360px;
}
