
.main {
  max-width: 1710px;
  margin-left: 360px;
  display: flex;
  justify-content: flex-end;
}
.heading-content h1 {
  font-size: 62px;
  max-width: 361px;
  line-height: 70px;
}
.heading-text {
  max-width: 514px;

}
.heading-text p {
  font-size: 18px;
  padding-bottom: 40px;
  padding-top: 10px;
}
.moreText{
  display: none;
}
.read-more-btn {
  width: 369px;
  height: 90px;
  border-radius: 45px;
  background-color: #FFCA05;
  color: #FFFFFF;
  font-size: 28px;
  border: none;
  outline: none;
  cursor: pointer;

}
/* section 2 */

.sectionTwo {
  max-width: 1920px;
  background-color:#FAFAFA ;
  
}
.main-text-wrap{
  width:100% ;
  max-width: 514px;
  margin: 0 1em;
  padding: 0 auto;
}
.heading{
  width: 45%;
  display: flex;
  justify-content: flex-end;
}