.navigation li {
    font-size: 16px;
    display: flex;
    padding-left: 62px;

}
.navigation ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  
}
.navigation ul{
    max-width: 970px;
}
.nav{
    display: flex;
    justify-content: flex-end;
    position: absolute;

}
.navigation li a {
 color: #FFFFFF;
 font-weight: bold;
 font-size: 16px;
}
.navigation li a:hover{
    color: black;
  
}
.navigation{
    border: 1px solid #FFCA05;
    background-color: #FFCA05;
    width: 1564px;
    height: 84px;
    border-radius:45px 0 0 45px;
    display: flex;
    align-items: center;
    margin-top: 53px;
    
}
#nav-logo{
    display: flex;
    justify-content: flex-start;
    margin-right: 159px;
    margin-left: 22px;
}
.nav-image{
    margin-right: 60px;
    margin-top: 53px;
}
.flex{
    display: flex;
    justify-content: flex-end;

}
