.navigation li {
    font-size: 16px;
    display: flex;
    padding-left: 62px;

}
.navigation ul {
    display: flex;
    align-items: center;
    
  
}
#lastNav{
    margin-left:50px;
}
.navigation ul{
    max-width: 970px;
}
.nav{
    display: flex;
    justify-content: flex-end;
 

}
.navigation li a {
 color: #FFFFFF;
 font-weight: bold;
 font-size: 16px;
}
.navigation li a:hover{
    color: black;
  
}
.navigation{
    border: 1px solid #FFCA05;
    background-color: #FFCA05;
    width: 1564px;
    height: 84px;
    border-radius:45px 0 0 45px;
    display: flex;
    align-items: center;
    margin-top: 53px;
    
}
#nav-logo{
    display: flex;
    justify-content: flex-start;
    margin-right: 159px;
    margin-left: 22px;
}
.nav-image{
    margin-right: 60px;
    margin-top: 53px;
}
.flex{
    display: flex;
    justify-content: flex-end;

}
@media screen and (max-width:1710px){
    .navigation {
        max-width: 1300px;
        transition: 1s;
      
    }
    #nav-logo{
        margin-right: 70px;
        transition: 0.5s;
    }
    
}
@media screen and (max-width:1445px){
    .navigation {
        max-width: 1100px;
        transition: 1s;
    }
}
@media screen and (max-width:1280px){
    .navigation {
        max-width: 1050px;
        transition: 1s;
    }
    #nav-logo{
        margin-right: 20px;
        transition: 0.5s;
    }
}
/* burgeri iqneba aq */
@media screen and (max-width:1280px){

}