.cotact-circle {
    background-color: #FFCA05;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.contact-left-text h2{
    font-size: 54px;
    line-height: 72px;
}
.contact-left-text{
    display: flex;
    align-items: center;
}
.contact-left-wrap{
    width: 50%;
    display: flex;
    justify-content: flex-end;

}
.contact-info{
    max-width: 482px;
    margin-top: 36px;
}
.contact-info h3 {
    padding-bottom: 20px;
    font-size: 18px;

}
#number-span a{ 
    color: #FFCA05;
    font-weight: bold;
}
#email-span a{
    color: #FFCA05;
    font-weight: bold;
}


.contact-right-wrap{
    width: 50%;
}
.contact-right-wrap iframe{
    width: 100%;
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.20);

}
.contact-wrap{
    display: flex;
    flex-direction: row;
}
#sendbtn {
    margin-top: 40px;
}
.left-wrap-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    max-width:530px;
    width: 100%;
    margin-right: 80px;
    margin-top: 100px;
}