.Contact-Main-wrapper{
    max-width: 1204px;
    margin: 0 auto;
    margin-top: 80px;
    
}
.ContentPage{
    max-width: 1920px;
}
.search-form form {
    width: 466px;
    height: 42px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 21px;
    background-color: #EBEBEB;
  }
.search-form input {
    all: unset;
    font: 16px system-ui;
    color: #221F1F;
    height: 100%;
    width: 100%;
    padding: 6px 10px;  
  }
#searchloop{
      padding-left: 15px;
}
.circle-logo h2 {
    font-size: 54px;
    line-height: 72px;
    color: #221F1F;
    padding-left: 20px;
}
.circle-logo{
    display: flex;
    max-width:405px ;
    justify-content: space-between;
    align-items: center;
}
.cont-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.logo-eclipse{
    background-color: #FFCA05;
    width: 50px;
    height: 50px;
    border-radius: 50%;
   margin-left:35px
}
.News-content p {
    font-size: 18px;
    color: #221F1F;
    line-height: 30px;
}
.News-content {
    padding: 31px 35px;
}
.empty-boxes div {
    width: 282px;
    height: 42px;
    background-color:#edebeb ;
    border-radius: 21px;
}
.empty-boxes{
    display: flex;
    justify-content: space-around;
    
}
.new-text-boxes{
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 5vh;
    margin-top: 70px;

}
.contact-button{
    width: 369px;
    height: 90px;
    border-radius: 45px;
    background-color: #FFCA05;
    color: #FFFFFF;
    font-size: 28px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 40px;
}