.Contact-Main-wrapper{
    max-width: 1204px;
    margin: 0 auto;
    background-color: red;
    
}
.ContentPage{
    max-width: 1920px;
}
form {
    width: 466px;
    height: 42px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 21px;
    background-color: #EBEBEB;
  }
input {
    all: unset;
    font: 16px system-ui;
    color: #221F1F;
    height: 100%;
    width: 100%;
    padding: 6px 10px;  
  }
#searchloop{
      padding-left: 15px;
}
.circle-logo h2 {
    font-size: 54px;
    line-height: 72px;
    color: #221F1F;
    padding-left: 20px;
}
.circle-logo{
    display: flex;
    max-width:405px ;
    justify-content: space-between;
    align-items: center;
}
.cont-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.logo-eclipse{
    background-color: #FFCA05;
    width: 50px;
    height: 50px;
    border-radius: 50%;

}