.footer-wrap{
    width: 100%;
    background-color: #221F1F;
    color: #FFFFFF;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 110px;

}
.footer-conten h2{
    font-size: 15px;
}
.footerIcons {
    width:13px;
   height: 13px;
   margin: 5px;
}
.footer-icons{
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: space-around;
    width: 140px; 
    animation: first_color .5s;
    /* 140 unda iyos */
}
.footer-border-div{
    width: 26.37px;
    height: 26.37px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    width: 50%;
}
.lelo-logo{
    display: flex;
    align-items: center;
}
#linkden-img{
    margin-left: 20px;
    margin-right: 20px;
}
.footerIcons:nth-child(2){
    animation-name: second_color;
}
.footerIcons:nth-child(3){
    animation-name: third_color;
}
@keyframes first_color {
    0% {
        text-shadow: 0 0 10px #1877f2,
        0 0 20px #1459b3, 0 0 30px #179bff
    }
    100% {
        text-shadow: 0 0 5px #1877f2,
        0 0 10px #1459b3, 0 0 15px #179bff
    }
}
