.footer-wrap{
    width: 100%;
    background-color: #221F1F;
    color: #FFFFFF;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 110px;

}
.footer-conten h2{
    font-size: 15px;
}
.footer-image{
    animation: lelo_logo .5s
    ease-in-out infinite alternate;
}

.footer-icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 140px; 

}
.footer-border-div{
    width: 26.37px;
    height: 26.37px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    animation: first .5s
    ease-in-out infinite alternate;
    
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    width: 50%;
}
#footer-contact-heading{
    animation: second .5s
    ease-in-out infinite alternate;
}
.lelo-logo{
    display: flex;
    align-items: center;

}
#linkden-img{
    margin-left: 20px;
    margin-right: 20px;
}
.footerIcons {
    width:13px;
   height: 13px;
   margin: 5px;
   cursor: pointer;
}
@keyframes first {
    from {box-shadow:0 0 10px #1877f2,
        0 0 20px #1459b3, 0 0 30px #179bff;}
    to{box-shadow: 0 0 5px #1877f2,
        0 0 10px #1459b3, 0 0 15px #179bff;}
}

@keyframes second {
    from {
        color:#25d366;
    }
    to {
       color: #0ec0a5  
    }
}
