.newsInfo {
    max-width: 1920px;
    background-color:#FAFAFA ;
  }
.newsContent{ 
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 149px;
    display: flex;
    align-items: center;
    padding-top: 55px;
    padding-bottom: 55px;

}
.circle {
    background-color: #FFCA05;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.newsContent h2 {
    font-size:54px ;
    line-height: 72px;
    padding-left: 20px;
}
.content-Boxes{
    max-width: 1200px;
    margin: 0 auto;
}
.content-Boxes {
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
}

.moreRead{
    margin-bottom: 70px;

}