.newsInfo {
    max-width: 1920px;
    background-color:#FAFAFA ;
  }
.newsContent{ 
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 149px;
    display: flex;
    align-items: center;
    padding-top: 55px;
    padding-bottom: 55px;

}
.circle {
    background-color: #FFCA05;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.newsContent h2 {
    font-size:54px ;
    line-height: 72px;
    padding-left: 20px;
}
.content-Boxes{
    max-width: 1200px;
    margin: 0 auto;
}
.content-Boxes {
    margin-top: 55px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;


}

.moreRead{
    margin-bottom: 70px;

}

@media screen and (max-width:1200px) {
    .newsContent h2 {
        font-size:30px;
        max-width: 300px;
        transition: 3s;
    }
    .newsContent{
        display: flex;
        justify-content: center;
        transition: 2s;
    }
    
}
@media screen and (max-width:780px){
    .newsContent h2{
        font-size: 24px;
        
    }
    .newsContent {
        padding-bottom: 20px;
    }
    .circle{
        max-width: 25px;
        height: 25px;
        border-radius: 50%;
    }
} 

@media screen and (max-width:480px){
    .newsContent h2{
        font-size: 25px;
        transition: 1s;
    }
    .circle{
        width: 25px;
        height: 25px;
        transition: 1s;
    }
}