.innerNews-wrap{
    width: 100%;
}
.innerNews-wrapper{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 120px;
}
.news-heading h2{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    line-height: 83px;
}
.empty-space-div{
    width: 307px;
    background-color: #FFCA05;
    height: 42px;
    border-radius: 21px;
    margin: 0 auto;
    margin-top: 50px;
}
.news-text p{
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 60px;
}
.news-text{
    margin-top: 50px;
}